@use "../utils" as *;

.AddCourseDialog {
  width: min(30rem, 100% - 1rem);
  min-height: 19.5rem;
  display: flex;
  flex-direction: column;

  h2 {
    position: relative;

    &.connection-error::after {
      content: "Connection error";
      position: absolute;
      display: inline-block;
      margin-left: 1rem;
      padding: 5px 9px;
      border-radius: 4px;

      font-size: 14px;
      font-weight: normal;
      color: white;
      background: darkred;
    }
  }

  [data-reach-tab-list] {
    margin: 0.5rem 0 0.75rem 0;
  }

  input,
  textarea {
    font-family: sans-serif;
  }

  input[type=text],
  input[type=search] {
    @include base-text-input-style
  }

  input[type=radio],
  input[type=checkbox] {
    margin-right: 0.25rem;
  }

  fieldset label {
    display: block;
  }

  .add-uw-course {
    &__bar-and-button {
      display: flex;
      margin-bottom: 2.5rem;
    }
    [data-reach-combobox] {
      max-width: 30rem;
      flex-grow: 1;
      margin-right: 0.25rem;

      display: flex;
      input {
        @include base-text-input-style;
        flex: 1;
      }
    }
    &__add-button {
      @include base-button-style;
      height: 1.75rem;
      width: 2.5rem;
      padding: 0 0.25rem;
    }

    &__connection-opts {
      // position: relative;
      margin-top: 0.25rem;
      // border-top: 1px solid gray;

      fieldset {
        border: none;
      }
      label {
        margin-left: 0.5rem;
      }
    }

    .connection-opts {
      // &__cover {
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   bottom: 0;
      //   left: 0;
      //   display: none;

      //   background: rgba(lightgray, 0.75);

      //   &.--enabled {
      //     display: inherit;
      //   }
      // }

      &__position {
        margin-top: 0.5rem;
      }
    }
  }

  .add-custom-course {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__header-row {
      display: flex;
      justify-content: start;
      align-items: flex-start;
    }
    &__footer-row {
      display: flex;
      margin-bottom: 1.5rem;
    }


    &__id-input {
      width: 8rem;
    }
    &__name-input {
      margin: 0 0.5rem;
      flex-grow: 1;
    }
    &__credits-input {
      width: 3.5rem;
    }
    &__description-input {
      margin: 0.5rem 0;
      @include gray-border;
      padding: 0.25rem;
      resize: none;
      flex-grow: 1;
      font-size: 0.8rem;
    }

    &__prerequisite-input {
      flex-grow: 1;
      margin-right: 0.25rem;
    }
    &__offered-input {
      flex-grow: 1;
      margin-left: 0.25rem;
    }

    &__add-button {
      height: 2rem;
      @include base-button-style;
    }
  }
}
