@font-face {
  font-family: 'source_sans';
  src: url('./source-sans/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('./source-sans/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans';
  src: url('./source-sans/sourcesanspro-bold-webfont.woff2') format('woff2'),
       url('./source-sans/sourcesanspro-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans';
  src: url('./source-sans/sourcesanspro-it-webfont.woff2') format('woff2'),
       url('./source-sans/sourcesanspro-it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'source_sans';
  src: url('./source-sans/sourcesanspro-boldit-webfont.woff2') format('woff2'),
       url('./source-sans/sourcesanspro-boldit-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.--transparent {
  opacity: 0;
}

body {
  font-family: "source_sans", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}
