.AboutDialog {
  width: min(22.5rem, 100% - 1rem);

  h2 {
    margin-bottom: 0.5rem;
  }

  p:not(:first-of-type) {
    margin: 1rem 0;
  }

  &__github-link,
  &__email-link {
    display: inline-flex;
    align-items: center;

    img {
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
    }
  }
}
