.CampusSelect {
  margin: 0.25rem 0;
  border: none;
  display: flex;

  &__radio-button {
    margin-right: 0.25rem;
  }

  &__radio-label--seattle,
  &__radio-label--bothell {
    margin-right: 1rem;
  }

  &__radio-label--tacoma,
  &__radio-label--bothell {
    color: #c7c7ce;
  }
}
