@use "../../utils" as *;

.DegreeSelect {
  .majors,
  .minors {
    align-self: flex-start;

    margin-bottom: 0.5rem;

    &__selected-list {
      min-width: 23rem;
      height: 6rem;
      margin: 0.5rem 0;
    }
    &__selected-item {
      display: flex;
      justify-content: space-between;
      margin: 0.5rem 0;
      padding-left: 0.5rem;
      font-size: 0.9rem;
      line-height: 1.5rem;

      background-color: hsl(0, 0%, 97%);
    }

    &__add-button,
    &__delete-button {
      margin-left : 0.25rem;
      height: 1.5rem;
      width: 1.5rem;
    }

    &__add-button {
      @include img-button-style(70);
    }
    &__delete-button {
      @include img-button-style(75);
    }

    &__bar-and-button {
      min-width: 23rem;
      display: flex;
      justify-content: space-between;
    }
    &__select-input {
      flex-grow: 1;
      height: 1.5rem;
    }
  }

  .AmbiguitySelect {
    margin-top: 1rem;
  }

  &__get-courses-button {
    @include base-button-style;
    font-size: 1rem;
  }
}
