@use "../../utils" as *;

.NewFlowDialog {
  width: min(30rem, 100% - 1rem);
  overflow-x: hidden;
  padding: 1rem 0 0 0;

  h2 {
    margin: 0.5rem 1rem;
    margin-top: 0;

    position: relative;

    &.connection-error::after {
      content: "Connection error";
      position: absolute;
      display: inline-block;
      margin-left: 1rem;
      padding: 5px 9px;
      border-radius: 4px;

      font-size: 14px;
      font-weight: normal;
      color: white;
      background: darkred;
    }
  }

  h3 {
    margin: 0.5rem 0;
  }

  hr {
    margin: 0 1rem;
  }

  &__slides {
    width: 200%;

    display: flex;
    max-height: 26rem;

    @media (prefers-reduced-motion: no-preference) {
      transition: transform 250ms;
    }

    // No transform for slide-0
    &.slide-1 {
      transform: translateX(-(100%/2)*1);
    }

    & > * {
      width: calc(100%/2);
      padding: 0 1rem;
    }
  }
}

.FlowType {
  [data-reach-tab-list] {
    height: 1.8rem;
  }

  [data-reach-tabs] {
    height: calc(100% - 1rem);
  }

  [data-reach-tab-panels] {
    height: calc(100% - 1.8rem);
  }

  [data-reach-tab-panel] {
    height: 100%;
  }
}

.PreWarning,
.DegreeSelect,
.CurriculumSelect,
.TextSearch,
.NewBlankFlow {
  display: flex;
  flex-direction: column;

  &__button-wrapper {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
  }
}

.DegreeSelect,
.CurriculumSelect,
.TextSearch,
.NewBlankFlow {
  height: 100%;

  &__end-padding {
    flex-grow: 1;
    background-image: url("dist/icons/x-gray.svg");
  }
}

.NewBlankFlow {
  p {
    margin-top: 0.5rem;
  }

  &__generate-button {
    @include base-button-style;
    font-size: 1rem;
  }
}
