@use "src/utils" as *;

.TableDialog {
  overflow-y: auto;

  // https://css-tricks.com/sticky-as-a-local-fixed/
  .CloseButton {
    position: sticky;
    top: 0;
    left: calc(100% - 1.5rem);
  }

  .SortBy {
    margin: 0.25rem 0;
    border: none;
    display: flex;

    &__radio-label:first-child {
      margin-left: 0.5rem;
    }

    &__radio-label:not(:last-child) {
      margin-right: 1rem;
    }

    &__radio-button {
      margin-right: 0.25rem;
    }
  }

  &__course-table {
    border-collapse: collapse;
    font-size: 0.9rem;

    tr:nth-child(even) td {
      background-color: rgb(250,250,250);
    }

    tr:nth-child(odd) td {
      background-color: rgb(245,245,245);
    }

    td,
    th {
      border: 1px solid rgb(190,190,190);
      padding: 0.75rem 0.5rem;

      // Name
      &:nth-child(3) {
        min-width: 10rem;
        max-width: 20rem;
      }

      // Prerequisite
      &:nth-child(4) {
        min-width: 10rem;
        max-width: 30rem;
      }

      // Offered
      &:nth-child(5) {
        max-width: 12.5rem;

        .offered-autumn,
        .offered-winter,
        .offered-spring,
        .offered-summer {
          border-radius: 0;
        }
      }
    }

    th {
      background-color: rgb(235,235,235);
      text-align: start;
    }

    td {
      vertical-align: top;

      // Depth
      &:first-child {
        text-align: center;
      }

      &:nth-child(2) {
        a:hover {
          @each $status, $color in $flow-colors {
            &.#{$status} {
              color: white;
              background-color: $color;
              text-decoration: none;
            }
          }
        }
      }

      &:nth-child(2) a,
      span {
        @each $status, $color in $flow-colors {
          padding: 0 0.1rem;
          border-radius: 3px;
          &.#{$status} {
            text-decoration: underline $color 3px;
          }
        }
      }

      .uw-course-id {
        white-space: nowrap;
      }
    }


    ul {
      list-style-type: none;
    }

    li {
      display: flex;
      align-items: center;
      white-space: nowrap;

      height: 1.4rem;

      span {
        height: 1.25rem;
        line-height: 1.25rem;
      }
    }
  }

  &__small-delete-btn {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.1rem;

    @include img-button-style(100);

    &:hover + span {
      @each $status, $color in $flow-colors {
        &.#{$status} {
          color: white;
          background-color: $color;
          text-decoration: none;
        }
      }
    }
  }


  &__large-delete-btn {
    margin: 0 auto;
    height: 2rem;
    width: 2rem;

    @include img-button-style(100);
  }
}
